<!doctype html>
<html>
<head>
  <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
  <script>
    window.onload = function () {
      var chart1 = new CanvasJS.Chart("task1", {
        title: {
          text: "Time Over Area"
        },
        axisX: {
          title: "Satellite"
        },
        axisY: {
          title: "Time (mins)"
        },
        data: [{
        // Change type to "doughnut", "line", "splineArea", etc.
          type: "bar",
          dataPoints: {{ time_measurement|tojson }}
        }]
      });
      chart1.render();
    }
  </script>
</head>
<body>
  <div id="task1" style="height: 300px; width: 100%;"></div>

  {% for sat, data in measures.items() %}
  <div>
    <h1>{{ sat }}</h1>
    <dl>
      {% for metric, details in data.items() %}
      <dt>{{ metric }}</dt>
      <dd>{{ details.max }}(MAX), {{ details.min }}(MIN), {{ details.avg|round(1) }}(AVG)</dd>
      {% endfor %}
    </dl>
  </div>
  {% endfor %}
</body>
</html>
